<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">formbuilder</h3>
</div>

<h3>{{ form_data.name }}</h3>
<div ng-repeat="question in form_data.questions">
    <div class="row col-xs-12" ng-switch on="question.type">
        <h4>{{ $index + 1 }}. {{ question.question }}</h4>
        <div ng-switch-when="choice">
            <choice-question question="question"></choice-question>
        </div>
        <div ng-switch-when="essay">
            <essay-question question="question"></essay-question>
        </div>
    </div>

</div>
<div class="row col-xs-12">
<button class="btn btn-success" ng-click="mainCtrl.save()">Submit</button>
</div>
<div class="footer">

</div>
